input[type=text], input[type=email] , input[type=number] {
  width: 33%;
    padding: 15px 22px;
    margin: 15px 358px;
    box-sizing: border-box;
    border: 2px solid #58B19F;

}

textarea {
  width: 33%;
  height: 50px;
  padding: 15px 22px;
  box-sizing: border-box;
  border: 2px solid #58B19F;
  border-radius: 2px;
  resize: none;  
  margin: 15px 358px;
}

input[type=submit] {
  background-color: #8842d5;
  border: none;
  color: white;
  padding: 8px 36px;
  text-decoration: none;
  border: 2px solid #ccc;
  margin: 15px 358px;
  cursor: pointer;  

}

label{
  margin: 15px 358px;
  
}
