body {
    background-color: transparent;
  }
  
  .card-profile {
    width: 340px;
    margin: 50px auto;
    border-radius: 0;
    border: 0;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  }
    .card-img-top {
      border-radius: 0;
    }
  
    .card-img-profile {
      max-width: 100%;
      border-radius: 50%;
      margin-top: -95px;
      margin-bottom: 35px;
      border: 5px solid ;
      width: 140px;
      margin-left: 90px;
    }
  
    .card-title {
      margin-bottom: 60px;
      margin-left: 105px;
  
      
    }

    .card-title h5 {

      margin-left: 105px;


    }
    .small {
      display: block;
      font-size: 0.6em;
      margin-top: 0.2em;
    }
  
    .card-links {
      margin-bottom: 25px;
  
  }